@page "/"
@inject PenningtonOptions PenningtonOptions
@inject ContentHelper ContentHelper

@if (_pages == null)
{
    <p>Loading...</p>
    return;
}

<h1 class="text-4xl font-bold pb-4">Welcome @PenningtonOptions.SiteTitle!</h1>

<ul class="list-disc pl-6 space-y-2">
    @foreach (var p in _pages
        .Where(p => p.Route.CanonicalPath.Value.Trim('/') != "index")
        .OrderByDescending(i => i.FrontMatter.Date))
    {
        <li><a href="@p.Route.CanonicalPath.Value">@p.FrontMatter.Title</a></li>
    }
</ul>

@code {
    private List<(ContentRoute Route, BlogFrontMatter FrontMatter)>? _pages;

    protected override async Task OnInitializedAsync()
    {
        _pages = await ContentHelper.GetAllPagesAsync();
        await base.OnInitializedAsync();
    }
}
