<div class="not-prose">
    <div class="@CardColorClasses.Wrapper(Color)">
        <div class="relative flex flex-row gap-x-4 overflow-hidden rounded-xl p-6">
            @if (Icon != null)
            {
                <div class="@CardColorClasses.Icon(Color)">
                    @Icon
                </div>
            }
            <div>
                <h2 class="@CardColorClasses.Title(Color)" >@Title</h2>
                <div class="text-sm">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string Color { get; set; } = "primary";

}
