<div class="not-prose">
    <a href="@Href">
        <div class="group h-full relative rounded-xl border border-@Color-200 dark:border-@Color-900  bg-@Color-200/50 hover:bg-@Color-500/20 dark:bg-@Color-500/10 dark:hover:bg-@Color-600/20 ">
            <div class="relative flex flex-row gap-x-4 overflow-hidden rounded-xl p-6">
                @if (Icon != null)
                {
                    <div class="pt-1 text-@Color-700 dark:text-@Color-500 fill-@Color-200 dark:fill-@Color-950">
                        @Icon
                    </div>
                }
                <div>
                    <h2 class="font-display font-bold text-@Color-900 dark:text-@Color-50 pb-2" >@Title</h2>
                    <div class="text-sm">
                        @ChildContent
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Href { get; set; }
    [Parameter] public string Color { get; set; } = "primary";
}
