<div class="absolute left-0 top-0.5 w-6 h-6 bg-primary-50 text-primary-500 rounded-full ring-1 ring-primary-200 flex items-center justify-center text-xs font-bold">
    @Number
</div>

@code {
    [Parameter, EditorRequired] public int Number { get; set; }
}
