@page "/"
@inject PennOptions PennOptions

<PageTitle>@PennOptions.SiteTitle</PageTitle>

<h1 class="text-4xl font-bold pb-4 text-primary-700">@PennOptions.SiteTitle</h1>
<p class="text-base-600 text-lg">How we build software at Northwind.</p>
