@inherits LayoutComponentBase
@layout ContentLayout
<div class="mx-auto max-w-2xl">
    <div class="mt-8 prose prose-zinc dark:prose-invert prose-sm prose-headings:font-display max-w-none">
        @Body
    </div>
</div>
