@layout ContentWithProseLayout
@page "/tags"
@inject TaxonomyAccessor Taxonomy
@inject PenningtonOptions PenningtonOptions

<PageTitle>@PenningtonOptions.SiteTitle - Tags</PageTitle>

<h1>All Tags</h1>

@if (_terms == null || _terms.Count == 0)
{
    <div>No tags?</div>
    return;
}

<ul>
    @foreach (var term in _terms)
    {
        <li>
            <a href="@term.Url.Value">@term.Label</a>
            <span class="text-xs text-base-600 dark:text-base-400"> (@term.Items.Count)</span>
        </li>
    }
</ul>

@code {
    private ImmutableList<TaxonomyTerm<BlogSiteFrontMatter, string>>? _terms;

    protected override async Task OnInitializedAsync()
    {
        _terms = await Taxonomy.GetTermsAsync<BlogSiteFrontMatter, string>("/tags");
    }
}
